#intro {
  background: url("../img/logo.png") no-repeat center center;
  background-size: cover;
}


.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: rgb(195, 127, 138) !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background-color: rgb(195, 127, 138);
  background: linear-gradient(45deg, rgb(195, 127, 138, 0.3), rgb(195, 127, 138, 0.3) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}

.rgba-pink-custom {
  background-color: rgba(195, 127, 138, 0.7) !important;
}

.navbar-rgba-pink-custom {
  background-color: rgb(195, 127, 138) !important;
}